body {
    background-color: #3c3838;
    font-family: 'Montserrat', sans-serif;
    
}
.navbar{
        /* background: white; */
        background-color: #000000;
}

.heading{
    color: rgb(134, 134, 162);
}

.cont{
    background-color: rgb(9, 5, 5);
    color: rgb(145, 158, 168);
    height: 35px;
}

.btn{
    margin-left:30px;
    }

