@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    height: 100vh;
    
    background: linear-gradient(to top, #d3d2e2 50%, #aeaed8 90%) no-repeat;
    
}
.container{
    margin: 150px auto;
}
.panel-heading{
    text-align: center;
    margin-bottom: 10px;
}

a:hover{
    text-decoration: none;
}
.form-inline label{
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
}
.btn.btn-primary{
    margin-top: 20px;
    border-radius: 15px;
    
}
.panel{
    min-height: 380px;
    margin-right: 80px;
    border-radius: 12px;
}
/* .input-field{
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff;
} */
/* input[type='text'],
input[type='password']{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%; 
} */

input[type='email'],
input[type='tel']{
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%; 
}

.fa-eye-slash.btn{
    border: none;
    outline: none;
    box-shadow: none;
}
img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}
a[target='_blank']{
    position: relative;
    transition: all 0.1s ease-in-out;
}

.bordert{
    border-top: 1px solid #aaa;
    position: relative;
}
.bordert:after{
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #ffffff;
    padding: 0px 8px;
}
@media(max-width: 360px){
    #forgot{
        margin-left: 0;
        padding-top: 10px;
    }
    body{
        height: 100%;
    }
    .container{
        margin: 30px 0;
    }
    .bordert:after{
        left: 25%;
    }
}
/* align the checkboxes horizontally */


/* .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */