.close {
  opacity:0;
  right:0px;
  width:16px;
  height:16px;
  cursor:pointer;
  border:1px solid #000;
  background-color:#efefef;
  z-index: 5;
  -webkit-transition: opacity 150ms;
  text-align:right;
  border: 0;
  cursor: pointer;    
  
}

.content {
  width:328px;
  position: relative;
  border:1px solid #ccc;
  margin: 5px;
  float:left;
}