{%extends 'base1.html' %}
{% include 'messages.html' %}
{%load static%}
{%block content%}

<style>
    #address-select-btn.selected {
        background-color: green;
        color: white;
    }
    
</style>

    <div class="breadcumb_area bg-img"style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Checkout</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
<form id = "form_1" method="POST" action="{% url 'place_order'%}">
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="checkout_details_area mt-50 clearfix">

                        <div class="cart-page-heading mb-30">
                            <h5>Billing Address</h5>
                        </div>
                                                
                        <div class="card-header py-3">
                            <h5 class="mb-0">Address</h5>
                        </div>
                        {% if ad %}
                    
                                {% for i in ad %}
                                <div class="card">
                                
                                    <div class="card-body">
                                        <h5 class="card-title">{{ i.name }}</h5>
                                        <p class="card-text">{{ i.address1 }}</p>
                                        <p class="card-text">{{ i.state }}, {{ i.zip }}</p>
                                        <p class="card-text">{{ i.country }}</p>
                                        <p class="card-text">{{ i.phone }}</p>
                                        <p class="card-text">{{ i.email }}</p>
                                    </div>
                                    <div class="card-footer">
                                    
                                            {% csrf_token %}
                                            <!-- <button type="submit" name="selected_address_id" value="{{ i.id }}" class="btn btn-primary">Select Address</button> -->
                                            
                                            <input type="checkbox" name="address" value="{{ i.id }}" required> 
                                            <label>Select Address</label>
                                        
                                    </div>
                                </form>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No saved Address found!</p>
                        {% endif %}
                        </div>
                    
                    
                        <br><br>
                        <button style="color: black;
                        text-align: center;
                        font-size: 15px;
                        padding: 10px;
                        border-radius: 15px;" 
                        type="button" class="collapsible">Add New Address</button> 
                        <div class="content" style="display: none;">  
                            <form id="form2" method="post" action="{% url 'address' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="name">Name <span>*</span></label>
                                        <input type="text" class="form-control" id="first_name" value="" required name="name">
                                    </div>
                                
                                    <div class="col-12 mb-3">
                                        <label for="phone_number">Phone No <span>*</span></label>
                                        <input type="number" class="form-control" id="phone_number" min="0" value="" name="phone">
                                    </div>
                                    <div class="col-12 mb-4">
                                        <label for="email_address">Email <span>*</span></label>
                                        <input type="email" class="form-control" id="email_address" value="" name="email">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="street_address">Address <span>*</span></label>
                                        <input type="text" class="form-control mb-3" id="street_address" value="" name="address1">
                                        <!-- <input type="text" class="form-control" id="street_address2" value=""> -->
                                    </div>

                                    <div class="col-12 mb-3">
                                        <label for="country">Country <span>*</span></label>
                                        <select class="w-100" id="country" name="country" required>
                                            <option value="usa">United States</option>
                                            <option value="uk">United Kingdom</option>
                                            <option value="ger">Germany</option>
                                            <option value="fra">France</option>
                                            <option value="ind">India</option>
                                            <option value="aus">Australia</option>
                                            <option value="bra">Brazil</option>
                                            <option value="cana">Canada</option>
                                        </select>
                                    </div>

                                    <div class="col-12 mb-3">
                                        <label for="city">State<span>*</span></label>
                                        <input type="text" class="form-control" id="city" value="" name="state">
                                    </div>
                                    
                                    <div class="col-12 mb-3">
                                        <label for="postcode">Zip <span>*</span></label>
                                        <input type="text" class="form-control" id="postcode" value="" name="zip">
                                    </div>
                                    <!-- <hr class="mb-4"> -->
                                    <div class="col-12 mb-3">
                                    <button name="saveaddress"  class="btn essence-btn">Save Address</button>
                                </div>
    
                                </div>
                            </form>
                        </div>  
                    </div>
            


                    <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                        <div class="order-details-confirmation">
                            
                                {% csrf_token %}
                            <div class="cart-page-heading">
                                <h5>Your Order</h5>
                                <p>Details</p>
                            </div>
                            <div >
                            <ul class="order-details-form mb-4">
                        
                            <!-- <li><span>Details</span></li> -->
                
                                {% if cartitems %}
                            
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for item in cartitems %}
                                    <tr>
                                        <td>{{item.product.name}} </td>
                                        <td>{{item.quantity}}</td>
                                        <td>{{item.unit_price | stringformat:'d'}}</td>
            
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table> 
                                <h6 class="fw-bold">Total Price
                                    <span>{{total_price | stringformat:'d'}}</span>
                                    <input type="hidden" name="total_price" value="{{ total_price }}">

                                </h6>
                                {% else %}
                                    <li><span>Your cart is empty!</span></li>
                                {% endif %}
                            </ul>
                        </div>
                
                        <div id="accordion">
                            <div class="card">
                            <div class="card-header" role="tab" data-toggle="collapse" data-target="#razorpay">
                                <h6 class="mb-0">
                                <label>
                                    <input type="radio" name="payment_method" value="razorpay" checked>
                                    RazorPay
                                </label>
                                </h6>
                            </div>
                            <div id="razorpay" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                Payment using RazorPay.
                                </div>
                            </div>
                            </div>
                            <div class="card">
                            <div class="card-header" role="tab" data-toggle="collapse" data-target="#cod">
                                <h6 class="mb-0">
                                <label>
                                    <input type="radio" name="payment_method" value="cod">
                                    Cash on Delivery
                                </label>
                                </h6>
                            </div>
                            <div id="cod" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                Payment using Cash on Delivery.
                                </div>
                            </div>
                            </div>
                        </div>
                        
                                <div class="card">
                        
                                    <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est cum autem eveniet saepe fugit, impedit magni.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                    <br><br>
                                <!-- <a href="{%url 'place_order' %}" class="btn essence-btn">Place Order</a> -->
                                <button type="button" onclick="submitForms()" class="btn essence-btn">Place Order</button>


                        
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Checkout Area End ##### -->
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
        }
        </script>



        <script>
            submitForms = function(){
                document.getElementById("form_1").submit();
                document.getElementById("form_2").submit();
            }

            submitForms1 = function(){
                document.getElementById("form2").submit();
                console.log("wefdwfefdwe")
                
            }
        </script>
        
    {%endblock%}
