{% extends 'base.html' %}
{% block title %}
Edit Category
{% endblock %}
{% block content %}


<div class="container">
    <h5 class="text-center">Edit Details</h5>
    <form class="needs-validation" method="post">  
        {% csrf_token %}
        <div class="form-group"> 
            <div class="form-outline mb-4">
            <label class="form-label" for="form5Example1">Edit Name</label>
            <input style="width: 500px;" type="text" id="form5Example1" name ="name" class="form-control" value="{{category.name}}">
            </div>
            <div class="form-outline mb-4">
            <label class="form-label" for="form5Example1">Edit Offer</label>
            <input style="width: 500px;" type="text" id="form5Example2" name="offer" class="form-control" value="{{category.offer}}">
            </div>
    
        </div>
        
        <input class="btn btn-secondary" type="submit" value="Update"><br><br>
    </form>
</div>
{% endblock %}