{%extends 'base1.html' %}
{% include 'messages.html' %}
{%load static%}
{%block content%}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
background-color: #e0dbd7;
font-family: 'Montserrat', sans-serif
}
.card {
border: none
}
.logo {
background-color: #eeeeeea8
}
.totals tr td {
font-size: 13px
}
.footer {
background-color: #eeeeeea8
}
.footer span {
font-size: 12px
}
.product-qty span {
font-size: 12px;
color: #dedbdb
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card" id="invoice">
                <div class="text-left logo p-2 px-5">
                    <img src="" width="50" />
                    <h6 >Invoice</h6>
                </div>
                <div class="invoice p-5" >
                    <span class="font-weight-bold d-block mt-4">Invoiced to {{user.name}}</span>
                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2"><span class="d-block text-muted"><h6>Order Date</h6></span> <span>{{order.order_at}}</span></div>
                                    </td>
                                    <td>
                                        <div class="py-2"><span class="d-block text-muted"><h6>Order No</h6></span> <span>{{order.order_id}}</span></div>
                                    </td>
                                    {%if order.payment_method == 'RAZORPAY' %}
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted"><h6>Payment</h6></span> <span>Razor Pay</span>
                                        </div>
                                    </td>
                                    {%else%}
                                    <td>
                                        <div class="py-2"><span class="d-block text-muted"><h6>Payment</h6></span> <span>COD</span></div>
                                    </td>
                                    {%endif%}
                                    <td>
                                        <div class="py-2"><span class="d-block text-muted"><h6>Shipping Address</h6></span> <span>{{order.address.address1}}</span></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in order_items %}
                                <tr>
                                    <td>{{ item.product.name }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>{{ item.product_price }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <!-- <tr>
                                        <td>
                                            <div class="text-left"><span class="text-muted">Subtotal</span></div>
                                        </td>
                                        <td>
                                            <div class="text-right"><span>{{order.total_price}}</span></div>
                                        </td>
                                    </tr> -->
                                    <!-- <tr>
        <td>
        <div class="text-left"> <span class="text-muted">Discount</span> </div>
        </td>
        <td>
        <div class="text-right"> <span>{{order.total_price}}</span> </div>
        </td>
        </tr> -->
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left"><span class="font-weight-bold">Subtotal</span></div>
                                        </td>
                                        <td>
                                            <div class="text-right"><span class="font-weight-bold">{{order.total_price}}</span></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- <p>We will be sending shipping confirmation email when the item shipped successfully!</p> -->
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                    <span>Essence Team</span>
                </div>
                <div class="d-flex justify-content-between footer p-3"></div>
            </div>
            <div style = "text-align:center" class="col-md-12">
                <button class="btn btn-dark" id="download"> Download Invoice</button>
            </div>
        </div>
    </div>
</div>


    <script>
        window.onload = function () {
        document.getElementById("download")
            .addEventListener("click", () => {
                const invoice = this.document.getElementById("invoice");
                console.log(invoice);
                console.log(window);
                var opt = {
                    margin: 1,
                    filename: 'myfile.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 3 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };
                html2pdf().from(invoice).set(opt).save();
            })
    }
    </script>
    
    {%endblock%}