{%extends 'base1.html' %}
{% include 'messages.html' %}
{%load static%}
{%block content%}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
background-color: #e0dbd7;
font-family: 'Montserrat', sans-serif
}
.card {
border: none
}
.logo {
background-color: #eeeeeea8
}
.totals tr td {
font-size: 13px
}
.footer {
background-color: #eeeeeea8
}
.footer span {
font-size: 12px
}
.product-qty span {
font-size: 12px;
color: #dedbdb
}
</style>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
    <div class="col-md-8">
    <div class="card">
    <div class="text-left logo p-2 px-5"> <img src="" width="50"> </div>
    <div class="invoice p-5">
    <h5>Your order Confirmed!</h5> <span class="font-weight-bold d-block mt-4">Hello, {{user.name}}</span> <span>You order has been confirmed and will be shipped in next two days!</span>
    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
    <table class="table table-borderless">
    <tbody>
    <tr>
    <td>
        
    <div class="py-2"> <span class="d-block text-muted">Order Date</span> <span>{{order.order_at}}</span> </div>
    </td>
    <td>
    <div class="py-2"> <span class="d-block text-muted">Order No</span> <span>{{order.order_id}}</span> </div>
    </td>
    {%if order.order_method %}
    <td>
    <div class="py-2"> <span class="d-block text-muted">Payment</span> <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /></span> </div>
    </td>
    {%else%}
    <td>
    <div class="py-2"> <span class="d-block text-muted">Payment</span> <span>COD</span></div>
    </td>
    {%endif%}
    <td>
    <div class="py-2"> <span class="d-block text-muted">Shipping Address</span> <span>{{order.address.address1}}</span> </div>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    <div class="product border-bottom table-responsive">
    <table class="table table-borderless">
    <tbody>
    {% for item in order_items %}
    <tr>
    <td width="20%"> <img src="{{item.product.image1.url}}" width="90"> </td>
    <td width="20%"> <span class="font-weight-bold">{{item.product.name}}</span>
    <div class="qty">Quantity: <span class="font-weight-bold">{{item.quantity}}</span>  </div>
    </td>
    <td width="20%">
    <div class="text-right"> <span class="font-weight-bold">{{item.product_price}}</span> </div>
    </td>
    </tr>
    {%endfor%}
    </tbody>
    </table>
    </div>
    <div class="row d-flex justify-content-end">
    <div class="col-md-5">
    <table class="table table-borderless">
    <tbody class="totals">
    <tr>
    <td>
    <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
    </td>
    <td>
    <div class="text-right"> <span>{{order.total_price}}</span> </div>
    </td>
    </tr>
    <!-- <tr>
        <td>
        <div class="text-left"> <span class="text-muted">Discount</span> </div>
        </td>
        <td>
        <div class="text-right"> <span>{{order.total_price}}</span> </div>
        </td>
        </tr> -->
    <tr class="border-top border-bottom">
    <td>
    <div class="text-left"> <span class="font-weight-bold">Subtotal</span> </div>
    </td>
    <td>
    <div class="text-right"> <span class="font-weight-bold">{{order.total_price}}</span> </div>
    </td>
    </tr>

    </tbody>
    </table>
    </div>
    </div>
    <!-- <p>We will be sending shipping confirmation email when the item shipped successfully!</p> -->
    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p> <span>Essence Team</span>
</div>
    <div class="d-flex justify-content-between footer p-3"> <span><a style="color:black" href="{%url 'home' %}"> Back to Homepage </a></span></div>
    </div>
    </div>
    </div>
    </div> 
    {%endblock%}