{% extends 'base1.html' %}
{% block content %}
<style>
  .badge.custom-badge {
    margin-left: 20px;
    height: 30px;
    width: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
  
  }
  
</style>
<div class="container-fluid">
  <div class="container">
    
    {% if order %}
      {% for od in order %}
        <div class="d-flex justify-content-between align-items-center py-3">
        </div>
        <!-- Main content -->
        <div class="row">
          <div class="col-lg-8">
            <!-- Details -->
            <div class="card mb-4">
              <div class="card-body">
                <div class="mb-3 d-flex justify-content-between">
                  <div>
                    <span class="me-3">{{ od.order_at }}</span>
                    <span class="me-3">#{{ od.order_id }}</span>
                {% if od.status %}
                  {% if od.delivery_status == 'Pending' %}
                      <span class="badge rounded-pill bg-info custom-badge">{{od.delivery_status}}</span>
                    {% elif od.delivery_status == 'Shipped' %}
                      <span class="badge rounded-pill bg-warning custom-badge">{{od.delivery_status}}</span>
                      {% elif od.delivery_status == 'Out for delivery' %}
                      <span class="badge rounded-pill bg-primary custom-badge">{{od.delivery_status}}</span>
                    {% elif od.delivery_status == 'Delivered' %}
                      <span class="badge rounded-pill bg-success custom-badge">{{od.delivery_status}}</span>
                    {% elif od.delivery_status == 'Returned' %}
                      <span class="badge rounded-pill bg-secondary custom-badge">{{od.delivery_status}}</span>
                  {% endif %}
                {% else %}
                    <span class="badge rounded-pill bg-dark custom-badge">{{od.delivery_status}}</span>
                {% endif %} 
                
                  </div>
                  <div class="d-flex">
                  <a style="color: blue; text-decoration:underline;" href="{% url 'invoice' od.id %}"><span class="text">Invoice</span></a></button>
                  </div>
                </div>
                <table class="table table-borderless">
                  <tbody>
                    {% for item in od.items.all %}
                      <tr>
                        <td>
                          <div class="d-flex mb-2">
                            <div class="flex-shrink-0">
                              <img src="{{ item.product.image1.url }}" alt="{{ item.product.name }}" width="35" class="img-fluid">
                            </div>
                            <div class="flex-lg-grow-1 ms-3">
                              <p style="margin-left: 20px;" class="text-reset">{{ item.product.name }}</p>
                              <!-- <span class="small">Color: Black</span> -->
                            </div>
                          </div>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td class="text-end">{{ item.product_price }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2">Mode of Payment</td>
                      {%if od.payment_method == 'RAZORPAY' %}
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted"></span> <span>Razor Pay</span>
                                        </div>
                                    </td>
                                    {%else%}
                                    <td>
                                        <div class="py-2"><span class="d-block text-muted"></span> <span>COD</span></div>
                                    </td>
                                    {%endif%}
                    </tr>
                    <tr class="fw-bold">
                      <td colspan="2">TOTAL</td>
                      <td class="text-end">{{ od.total_price }}</td>
                    </tr>
                  </tfoot>
                </table>
                
                <div class="d-flex justify-content-end">
                  <!-- <div style="margin-right:30px;"><a style="color:rgb(30, 28, 122)" href="">Track Order</a></div> -->
                  {%if od.delivery_status == 'Delivered' %}
                  <button onclick = "return confirm('Are you sure you want to return the product?')" class="btn btn-danger me-3"><a href="{% url 'order_return' od.id %}" class="text-white" style="text-decoration:none;">Return Order</a></button>
                  {%elif od.delivery_status != 'Returned'%}
                  <button onclick = "return confirm('Are you sure you want to cancel the order?')" class="btn btn-danger me-3"><a href="{% url 'order_cancel' od.id %}" class="text-white" style="text-decoration:none;">Cancel Order</a></button>
              

                  {%endif%}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <br><br>
                  <div style="margin-left:300px; margin-top:100px" class="row">
                        <div class="card mb-4">
                            <div  class="card-body">
                              <div  class="mb-3 d-flex justify-content-between">
                                <div >
                                      <span span class="me-3">|-------------------NO ORDERS FOUND!-----------------------|</span>
                                      <span class="badge rounded-pill bg-info"></span>
                                </div>
                              </div>
                            </div>
                        </div>
                  </div>
                  <br><br>

                </div>
            </div>
      </div>
  </div>
        
  </div>
  {%endif%}
</div>
</div>
<br><br>

<br><br>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{%endblock%}        