{%extends 'base1.html' %}
{%load static%}
{%block content%}
<style>
    .favme.active
    {
        color:red
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" media="all">
<script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>  

<div class="breadcumb_area bg-img"style="background-image: url({% static 'img/bg-img/breadcumb.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        {% if category == "Women's Fashion" %}
                            <h2>Women's Collection</h2>
                        {% elif category == "Men's Fashion" %}
                            <h2>Men's Collection</h2>
                        {% else %}
                            <h2>SHOP</h2>
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Catagories</h6>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                                <ul id="menu-content2" class="menu-content collapse show">
                                    <!-- Single Item -->
                                    <li data-toggle="collapse" data-target="#clothing">
                                        <a style="color:black" href="#">Women's Fashion</a>
                                        <ul class="sub-menu collapse" id="clothing">
                                            <li><a href="{%url 'women_product' %}">All</a></li>
                                            <li><a href="{% url 'category_products' category_slug='womens-fashion' subcategory_slug='dress' %}">Dresses</a></li> 
                                            <li><a href="{% url 'category_products' category_slug='womens-fashion' subcategory_slug='jeans-w' %}">Jeans</a></li>
                                            <li><a href="{% url 'category_products' category_slug='womens-fashion' subcategory_slug='womens-tshirt' %}">T-Shirts</a></li>
                                            <li><a href="{% url 'category_products' category_slug='womens-fashion' subcategory_slug='shirts-tops' %}">Shirts</a></li>
                                            <li><a href="{% url 'category_products' category_slug='womens-fashion' subcategory_slug='skirts' %}">Skirts</a></li>
                                            <li><a href="{% url 'category_products' category_slug='womens-fashion' subcategory_slug='hoodie-sweats' %}">Hoodies &amp; Sweats</a></li>
                                        </ul>
                                    </li>
                                    <li data-toggle="collapse" data-target="#men_clothing">
                                        <a style="color:black" href="#">Men's Fashion</a>
                                        <ul class="sub-menu collapse" id="men_clothing">
                                            <li><a href="{%url 'men_product'%}">All</a></li>
                                            <li><a href="{% url 'category_products' category_slug='mens-fashion' subcategory_slug='mens-tshirt' %}">T-Shirts</a></li>
                                            <li><a href="{% url 'category_products' category_slug='mens-fashion' subcategory_slug='kurtas-shirts' %}">Shirts</a></li>
                                            <li><a href="{% url 'category_products' category_slug='mens-fashion' subcategory_slug='jackets-coats' %}">Jackets &amp; Coats</a></li>
                                            <li><a href="{% url 'category_products' category_slug='mens-fashion' subcategory_slug='jeans-m' %}">Jeans</a></li>
                                        </ul>
                                    </li>
                                    <!-- Single Item -->
                                    <!-- <li data-toggle="collapse" data-target="#accessories" class="collapsed">
                                        <a style="color:black" href="#">accessories</a>
                                        <ul class="sub-menu collapse" id="accessories">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">Bodysuits</a></li>
                                            <li><a href="#">Dresses</a></li>
                                            <li><a href="#">Hoodies &amp; Sweats</a></li>
                                            <li><a href="#">Jackets &amp; Coats</a></li>
                                            <li><a href="#">Jeans</a></li>
                                            <li><a href="#">Pants &amp; Leggings</a></li>
                                            <li><a href="#">Rompers &amp; Jumpsuits</a></li>
                                            <li><a href="#">Shirts &amp; Blouses</a></li>
                                            <li><a href="#">Shirts</a></li>
                                            <li><a href="#">Sweaters &amp; Knits</a></li>
                                        </ul>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                
                    
                        <!-- <div class="widget price mb-50">
                   
                            <h6 class="widget-title mb-30">Filter by</h6>
                            Widget Title 2
                            <p class="widget-title2 mb-30">Price</p>

                            <div class="widget-desc">
                                <div class="slider-range">
                                    <div data-min="49" data-max="360" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="49" data-value-max="360" data-label-result="Range:">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                    <div class="range-price">Range: $49.00 - $360.00</div>
                                </div>
                            </div>
                        </div> -->

            
                        <div class="widget brands mb-50">
                            <!-- Widget Title 2 -->
                            <p class="widget-title2 mb-30">Brands</p>
                            <div class="widget-desc">
                                {%for b in brand%}
                                <ul>
                                    <li><a href="#">{{b.name}}</a></li>
                                </ul>
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                    <!-- Total Products -->
                                    <div class="total-products">
                                        <p><span>{{count_p}}</span> products found</p>
                                    </div>
                                    <!-- Sorting -->
                                    
                                    <form method="get" action="{% url 'sort_products' %}">
                                        <div class="product-sorting d-flex">
                                            <p>Sort by Price:</p>
                                            <select name="sort_by" id="sort-by-select" onchange="this.form.submit()">
                                            <option value="" id="placeholder" disabled {% if not request.GET.sort_by %}selected{% endif %} hidden>Sort products</option>
                                            <option value="price_asc" {% if request.GET.sort_by == 'price_asc' %}selected{% endif %}>Low To High</option>
                                            <option value="price_desc" {% if request.GET.sort_by == 'price_desc' %}selected{% endif %}>High To Low</option>
                                            </select>
                                        </div>
                                    </form>
                        
                                </div>
                            </div>
                        </div>
                    
                        {% include 'messages.html' %}
                        <div class="row">
                            {% for product in products %}
                            <!-- Single Product -->
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="product-img">
                                        <img src="/media/{{product.image1}}" alt="product_image1">
                                        <!-- Hover Thumb -->
                                        <a href="{% url 'product_detail' product.id %}"><img class="hover-img" src="/media/{{product.image2}}" alt="product_image2"></a>
                
                                        <!-- Product Badge -->
                                        <!-- {%if product.offer%}
                                        <div class="product-badge offer-badge">
                                            <span>-{{product.offer}}%</span>
                                        </div>
                                        {%endif%} -->
                                        <!-- Favourite -->
                                        <div class="product-favourite">
                                            
                                            <a href="{% url 'add_to_wishlist' product.id %}" class="favme fa fa-heart" onclick="toggleHeart(this); event.preventDefault();return false;"></a>

                                        </div>
                                    </div>
                        
                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <span>{{product.brand}}</span>
                                        <a href="single-product-details.html">
                                            <h6>{{product.name}}</h6>
                                        </a>
                                        <!-- <p class="product-price"><span class="old-price">{{product.price}}</span> $55.00</p> -->
                                        <p class="product-price">₹ {{product.price|floatformat }}</p>
                                        <!-- Hover Content -->
                                        <div class="hover-content">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn">
                                                <a href="{%url 'cart' product.id %}" class="btn essence-btn">Add to Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                        </div>
                        <nav aria-label="navigation">
                            <ul class="pagination mt-50 mb-70">
                                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">21</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- ##### Shop Grid Area End ##### -->
    
<script>
    function addToCart(productId) {
        fetch('{/add_to_cart_ajax/}' + productId + '/')
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert("Item added to cart!");
                } else {
                    alert("Error adding item to cart.");
                }
            });
    }
</script>

<script>
    var clothingMenuItem = document.querySelector('[data-target="#clothing"]');
    clothingMenuItem.addEventListener('click', function(event) {
    var clothingSubMenu = document.querySelector('#clothing');
    clothingSubMenu.classList.toggle('show');
    });
</script>

<script>
    var clothingMenuItem = document.querySelector('[data-target="#men_clothing"]');
    clothingMenuItem.addEventListener('click', function(event) {
    var clothingSubMenu = document.querySelector('#men_clothing');
    clothingSubMenu.classList.toggle('show');
    });
</script>

<script>
    function toggleHeart(elem) {
      elem.classList.toggle("active");
    }
    </script>

{%endblock%}