{% extends 'base1.html' %}
{%load static%}
{% block content %}
<style>
    .single-product-wrapper {
        position: relative;
    }
    .close {
        position: absolute;
        top: -310px;
        right: -1px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        opacity: 0;
    }
    .close:hover {
        background-color: transparent;
    }
    .single-product-wrapper:hover .close {
        opacity: 1;
    }

    .close i {
        font-size: 20px;
        color: #000000;

    }
        /* Toastr CSS styles */
        .toast-success {
            background-color: #51C46D !important;
        }
    
        .toast-info {
            background-color: #3273DC !important;
        }
    
        .toast-error {
            background-color: #FF7851 !important;
        }

</style>
<link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<br><br>
<div class="container">
    <br><br>
    <h5>Wishlist</h5>
    <div class="row">
    {%if wishlist_items%}
        {% for item in wishlist_items %}
        <!-- Single Product -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="single-product-wrapper">
                <!-- Product Image -->

            <a href="{% url 'product_detail' item.product.id %}">
                <div class="product-img">
                    <img src="{{ item.product.image1.url }}" alt="product_image1">
                </div>

                <div class="product-description">
                    <span>{{item.product.brand}}</span>
                    <a href="single-product-details.html">
                        <h6>{{ item.product.name }}</h6>
                    </a>
                    <p class="product-price">₹ {{ item.product.price }}</p>
                </a>
                <div class="close">
                    <a href="{% url 'remove_wishlist' item.product.id %}">
                        <i class="fa fa-close"></i>
                    </a> 
                </div>
                <!-- <div class="hover-content"> -->
                    <!-- <div class="add-to-cart-btn">
                        <a href="{% url 'add_to_cart' item.product.id %}" class="btn essence-btn">Add to Cart</a>
                    </div> -->

                    <div class="hover-content">
                        <!-- Add to Cart -->
                        {%if item.product.stock <= 0 %}
                        <div class="add-to-cart-btn">
                            <a href="#" class="btn essence-btn">Out of Stock</a>
                        </div>
                        {%else%}
                        <div class="add-to-cart-btn">
                            <a href="#" class="add-to-cart btn essence-btn" data-product-id="{{ item.product.id }}">Add to Cart</a>
                        </div>
                        {%endif%}
                        
                </div>
            </div>
            
            </div>
            
        </div>
        
    {%endfor%}
    {%else%}
    <div class="col-12 col-sm-6 col-md-3">
        <p>No Items in Wishlist</p>

        </div>
    {%endif%}

</div>
    </div>
    <a style="margin-left: 170px;" href="{% url 'product_view' %}" class="text-body"><i class="fas fa-long-arrow-alt-left me-2"></i>View Collections</a></h6>
    <!-- Pagination -->
    <div class="row">
        <div class="col-sm-12">

        <ul class="pagination pull-right">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    
        </div>
    </div> 

    </div>
</div> 
</div>
<br><br>


<br><br>


<br><br>
<script>
    $('.content.clossable').hover(function(){
        $(this).find('.close').animate({opacity:1},100)
            },function(){
                $(this).find('.close').animate({opacity:0},100)
            }
                    )
</script>


{% endblock %}